node_modules
test
.env
dist
tmp
tests
test-results

keytime-main/generated/prisma
keytime-main/keytime-server.log
keytime-main/src/prisma/dev.db

*.vsix
keytime-ext/out
keytime-ext/media

/keytime_demo.mp4
