node_modules
test
.env
dist
tmp
tests
test-results

keytime-main/generated/prisma
keytime-main/keytime-server.log
keytime-main/src/prisma/dev.db

keytime-ext/keytime-ext-0.0.1.vsix
keytime-ext/out

/keytime_demo.mp4
